<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio Web Cidade News</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="icon" href="../assets/img/play.png" type="image/png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5727195229824924"
     crossorigin="anonymous"></script>
</head>
<body>
  <div id="header-placeholder"></div> 
  
  <section class="radio-player" id="radio-player">
    <h2 class="heading">Sobre <span>nós</span></h2>
    <h1>Radio Cidade Web é uma emissora de rádio online dedicada a trazer as últimas notícias, esportes, política e muito 
      mais para nossos ouvintes. Com uma programação diversificada e uma equipe apaixonada, estamos comprometidos em 
      fornecer conteúdo de qualidade e entretenimento para todos.</h1>
    <h1>Nosso objetivo é ser a sua fonte confiável de informações e entretenimento, conectando você com o que há de mais 
      relevante e interessante na nossa cidade. Seja você um amante de esportes, um entusiasta da política ou alguém que 
      busca por notícias diversas, temos algo para você.</h1>
    <h1>Nosso time é formado por profissionais experientes e dedicados, que trabalham incansavelmente para trazer as 
      melhores histórias e análises. Estamos sempre em busca de inovações e melhorias para oferecer uma experiência de 
      audição excepcional.</h1>
    <h1>Além disso, valorizamos a interação com nossos ouvintes e incentivamos você a participar ativamente de nossa 
      comunidade. Siga-nos nas redes sociais, envie suas opiniões e sugestões, e fique por dentro de tudo o que acontece 
      na Radio Web Cidade.</h1>
    <h1>Obrigado por escolher a Radio Cidade Web como sua emissora de rádio online. Estamos animados para compartilhar 
      nossa jornada com você e esperamos que você aproveite nossa programação tanto quanto nós gostamos de criá-la.</h1>
    <h1>Para mais informações, entre em contato conosco através de nossas redes sociais ou pelo e-mail. Estamos aqui para 
      ouvir você!</h1>
    <h1>Equipe Radio Cidade Web</h1>
  </section>

  <div id="footer-placeholder"></div> 
  <script src="../assets/js/scripts.js"></script>
</body>

</html>