<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio Web Cidade News</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="icon" href="../assets/img/play.png" type="image/png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5727195229824924"
     crossorigin="anonymous"></script>
</head>
<body>
  <div id="header-placeholder"></div> <section class="programming" id="programming">
    <div class="programming-box">
        <h2 class="heading">Programação</h2>
        <div class="wrapper">
            <div class="programming-item">
                <h2>Segunda a Sexta</h2>
                <p>05h - Raiz Sertaneja</p>
                <p>07h - Cidade Hits</p>
                <p>13h - Cidade News</p>
                <p>14h - Show da Tarde</p>
                <p>17h - Esporte Total</p>
                <p>18h - Programação musical</p>
            </div>

            <div class="programming-item">
                <h2>Sabado</h2>
                <p>05h - Viola & Rancho</p>
                <p>07h - Ritmo da Cidade</p>
                <p>13h - Cidade Esporte Clube</p>
                <p>14h - Jornada Esportiva</p>
                <p>19h - Programação musical</p>
            </div>

            <div class="programming-item">
                <h2>Domingo</h2>
                <p>05h - Viola & Rancho</p>
                <p>07h - Programação Musical</p>
                <p>15h - Jornada Esportiva</p>
                <p>19h - Programação musical</p>
            </div>
        </div>
    </div>
</section>

  <div id="footer-placeholder"></div> 
  <script src="../assets/js/scripts.js"></script>
</body>

</html>