<footer class="footer">
    <div class="social">
        <a href="https://www.facebook.com/radiocidadeweb7L" target="_blank"><i class='bx bxl-facebook' ></i></a>
        <a href="https://instagram.com/radiocidadeweb7L" target="_blank"><i class='bx bxl-instagram' ></i></a>
        <a href="https://www.youtube.com/@radiocidadeweb7l" target="_blank"><i class='bx bxl-youtube'></i></a>
        <a href="https://tiktok.com/@radiocidadeweb7l" target="_blank"><i class='bx bxl-tiktok' ></i></a>
        <a href="mailto:radiocidadeweb.7l@gmail.com" target="_blank"><i class='bx bx-mail-send'></i></a>
    </div>

    <ul class="list">
        <li><a href="../views/index.html">Inicio</a></li>
        <li><a href="../views/programacao.html">Programação</a></li>
        <li><a href="../views/about.html">Sobre</a></li>
    </ul>
    <p class="copyright">
        © Radio Cidade Web | Todos os Direitos Reservados
    </p>
</footer>

<a href="#" class="back-to-top" id="backToTop">
  <i class='bx bx-up-arrow-alt'></i>
</a>