<header class="header">
  <div class="top-bar">
    <a href="../views/index.html"><img src="../assets/img/logo.png" alt="Radio Web Cidade" class="logo"></a>

    <div class="banner">
      <a href="https://l.radios.com.br/r/258019" target="_blank">
        <img src="https://img.radios.com.br/divulgue/app-radiosnet-468x60-a.jpg" alt="Para ouvir nossa rádio">
      </a>
    </div>

    <div class="social">
      <a href="https://www.facebook.com/radiocidadeweb7L" target="_blank"><i class='bx bxl-facebook' ></i></a>
      <a href="https://instagram.com/radiocidadeweb7L" target="_blank"><i class='bx bxl-instagram' ></i></a>
      <a href="https://www.youtube.com/@radiocidadeweb7l" target="_blank"><i class='bx bxl-youtube'></i></a>
      <a href="https://tiktok.com/@radiocidadeweb7l" target="_blank"><i class='bx bxl-tiktok' ></i></a>
      <a class="search-icon"><i class='bx bx-search'></i></a>
    </div>

  </div>
  <div class="search-box">
        <input type="text" id="searchInput" placeholder="Buscar...">
        <button onclick="searchSite()">Buscar</button>
      </div>
  <i class='bx bx-menu' id="menu-icon"></i>

  <div class="navbar">
    <nav>
      <ul>
        <a href="/public/views/index.html" class="nav-link" data-page="index">Inicio</a>
        <a href="/public/views/programacao.html" class="nav-link" data-page="programacao">Programação</a>
        <a href="about.html" class="nav-link" data-page="diversos">Sobre</a>
        <div class="app-menu contato">
          <button class="menu-button">Contato <i class='bx bx-chevron-down' ></i></button>
          <div class="dropdown">
            <a href="https://wa.me/5531971091269" target="_blank">WhatsApp</a>
            <a href="mailto:radiocidadeweb.7l@gmail.com" target="_blank">Email</a>
          </div>
        </div>        
        <div class="app-menu">
          <button class="menu-button">App <i class='bx bx-chevron-down' ></i></button>
          <div class="dropdown">
            <a href="https://play.google.com/store/apps/details?id=com.app.radiocidadewebnews" target="_blank">Android</a>
            <a href="https://apps.apple.com/br/app/radiosnet/id1089290449" target="_blank">iOS</a>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</header>